.form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn_add {
  margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px 10px;
}
.btn_add:hover {
  background-color: teal;
  cursor: pointer;
}
